button.orange-btn-big {
  padding: 12px 40px;
  color: white;
  text-transform: uppercase;
  background-color: #ff5a2c;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button.blue-btn-big {
  padding: 12px 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  background-color: #092ace;
}
