html {
  scroll-behavior: smooth;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Waves Styles */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.waves-effect.disabled {
  cursor: default;
}

.waves-effect.disabled .waves-ripple {
  display: none !important;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50% !important;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

.under-line-orange {
  padding-bottom: 5px;
  border-bottom: 2px solid #ffd657;
  display: inline;
}

.under-line-white {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  display: inline;
}

body {
  padding: 0;
  background-image: url("https://img.freepik.com/free-photo/top-view-of-natural-tiles-stone-floor-in-luxury-seamless-glitter-pattern-for-interior-and-exterior_38607-378.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

body .preloader {
  position: fixed;
  z-index: 9999999;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100vh;
}

body .preloader .line {
  background-color: #0b2bcd;
  width: 7px;
  height: 40px;
  margin: 0px 5px;
  border: none;
  -webkit-animation: size 0.8s infinite linear;
          animation: size 0.8s infinite linear;
  border-radius: 20px;
}

body .preloader .line-1 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

body .preloader .line-2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

body .preloader .line-3 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

body .preloader .line-4 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

body .preloader .line-5 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes size {
  0% {
    height: 40px;
  }
  25% {
    height: 60px;
  }
  50% {
    height: 90px;
  }
  75% {
    height: 60px;
  }
  100% {
    height: 40px;
  }
}

@keyframes size {
  0% {
    height: 40px;
  }
  25% {
    height: 60px;
  }
  50% {
    height: 90px;
  }
  75% {
    height: 60px;
  }
  100% {
    height: 40px;
  }
}

body .scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  padding: 10px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(100%, #092d79), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #092d79 100%, #00d4ff 100%);
  color: white;
  border-top-left-radius: 28px;
  border-bottom-right-radius: 28px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 25px;
  -webkit-animation-name: scollTop;
          animation-name: scollTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.95, 0.07, 0.03, 0.12);
          animation-timing-function: cubic-bezier(0.95, 0.07, 0.03, 0.12);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-weight: bold;
}

@-webkit-keyframes scollTop {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes scollTop {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 20px;
  }
}

body .scroll-top-active {
  opacity: 1 !important;
  pointer-events: all;
}

.header {
  width: 100%;
  z-index: 99999;
}

.header .navbar {
  -webkit-transition: all 0.5s linear !important;
  transition: all 0.5s linear !important;
  background-color: white;
}

.header .navbar a img.logo-navbar {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .navbar a.nav-link {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-bottom: 2px solid transparent;
}

.header .navbar a.nav-link:hover {
  border-bottom: 2px solid #ffd657;
  color: #ffd657;
}

.header .navbar-under {
  -webkit-transition: all 0.5s linear !important;
  transition: all 0.5s linear !important;
  background: #724e23;
}

.header .navbar-under a {
  color: white !important;
}

.header .navbar-under a:hover {
  color: #ffd657 !important;
}

.header-top-info {
  background-image: url("http://trumpwallpapers.com/wp-content/uploads/Yellow-Aesthetic-Wallpaper-01-2560x1600-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 40px;
}

.header-top-info .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-top-info .container .top-header-lang {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-top-info .container .top-header-lang button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  padding: 0 7px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-top-info .container .top-header-lang button:hover {
  background-color: white;
  border-radius: 6px;
  color: orange;
}

.header-top-info .container .top-header-lang button img {
  height: 25px;
  width: auto;
  margin-right: 5px;
}

.header-content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/bg-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-content .bg-radient {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0.6)), color-stop(65%, rgba(9, 45, 121, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(9, 45, 121, 0.5) 65%, rgba(255, 255, 255, 0.5) 100%);
}

.header-content .bg-radient .inner-info {
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content .bg-radient .inner-info .left-info {
  width: 70%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-content .bg-radient .inner-info .left-info h4 {
  font-weight: bold;
  color: white;
}

.header-content .bg-radient .inner-info .left-info h1 {
  font-weight: bold;
  color: white;
}

@media all and (max-width: 768px) {
  .header-content .bg-radient .inner-info .left-info h1 {
    text-align: center;
  }
}

.header-content .bg-radient .inner-info .left-info .under-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header-content .bg-radient .inner-info .left-info .under-info button.orange-btn-big {
  padding: 12px 40px;
  color: white;
  text-transform: uppercase;
  background-color: #ffd657;
  border: 2px solid #ffd657;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 6px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-content .bg-radient .inner-info .left-info .under-info button.orange-btn-big:hover {
  border: 2px solid #ffd657;
  background-color: white;
  color: #ffd657;
}

.header-content .bg-radient .inner-info .left-info .under-info button.blue-btn-big {
  padding: 12px 40px;
  border-radius: 6px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  background-color: #092ace;
  border: 2px solid #092ace;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header-content .bg-radient .inner-info .left-info .under-info button.blue-btn-big:hover {
  background-color: white;
  color: #092ace;
}

@media all and (max-width: 1024px) {
  .header-content .bg-radient .inner-info .left-info {
    width: 80%;
  }
}

@media all and (max-width: 768px) {
  .header-content .bg-radient .inner-info .left-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .header-content .bg-radient {
    background: -webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0.6)), to(rgba(9, 45, 121, 0.5)));
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(9, 45, 121, 0.5) 100%);
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    background-position: right;
  }
}

.about-us {
  margin-top: 100px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.about-us .right-box {
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), color-stop(100%, #092d79), to(#00d4ff));
  background: linear-gradient(0deg, #020024 0%, #092d79 100%, #00d4ff 100%);
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 20px;
  right: 0;
  width: 40%;
  height: 400px;
}

@media screen and (max-width: 1024px) {
  .about-us .right-box {
    display: none;
  }
}

.about-us .left-content {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.about-us .left-content h2 {
  font-size: 45px;
  color: black;
}

.about-us .left-content p {
  text-indent: 15px;
}

@media screen and (max-width: 768px) {
  .about-us .left-content {
    margin-bottom: 50px;
  }
}

.about-us .right-content {
  position: relative;
}

.about-us .right-content img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages {
  margin-top: 150px;
  background-color: #fff;
  padding: 50px 0;
}

.advantages h2.title {
  font-size: 45px;
  color: black;
}

.advantages .advantages-card .card-box-top {
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.advantages .advantages-card .card-box-top:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.advantages .advantages-card .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.advantages .advantages-card .card-box .book-mark {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: auto;
}

.advantages .advantages-card .card-box img {
  width: 50px;
  height: 50px;
}

.advantages .advantages-card .card-box p {
  font-size: 14px;
}

.advantages .advantages-card .card-box .right-card {
  padding: 0 20px;
}

.team-content {
  margin-top: 150px;
  padding: 50px 0;
  background-image: url("http://trumpwallpapers.com/wp-content/uploads/Yellow-Aesthetic-Wallpaper-01-2560x1600-1.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.team-content h2.title {
  font-size: 45px;
  color: black;
}

.team-content .left-content-team h1 {
  color: black;
}

.team-content .left-content-team p {
  color: black;
}

.team-content .team-carousel .owl-dot.active span {
  background-color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 30px;
}

.team-content .team-carousel .owl-dot {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-content .team-carousel .owl-dot:hover span {
  background-color: #ffd657;
}

.team-content .team-carousel .item .team-box {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-content .team-carousel .item .team-box .left-image img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-content .team-carousel .item .team-box .right-info .person-name {
  width: 100%;
}

.team-content .team-carousel .item .team-box .right-info .person-name h3 {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  color: black;
}

@media screen and (max-width: 768px) {
  .team-content .team-carousel .item .team-box .right-info .person-name {
    width: 100%;
    text-align: center;
  }
}

.team-content .team-carousel .item .team-box .right-info p {
  color: black;
}

.team-content .team-carousel .item .team-box .right-info ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.team-content .team-carousel .item .team-box .right-info ul li.person-info-li {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 10px;
}

.team-content .team-carousel .item .team-box .right-info ul li.person-info-li span.line-for-li {
  width: 20px !important;
  height: 2px;
  border-radius: 2px;
  background-color: #ffd657;
  margin-right: 10px;
}

.team-content .team-carousel .item .team-box .right-info ul li.person-info-li div {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .team-content .team-carousel .item .team-box {
    padding: 20px;
  }
}

.teachers-content {
  margin-top: 50px;
  padding: 50px 0;
}

.teachers-content .teacher-carousel .owl-dot.active span {
  background-color: #ffd657;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 30px;
}

.teachers-content .teacher-carousel .owl-dot {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.teachers-content .teacher-carousel .owl-dot:hover span {
  background-color: #ffd657;
}

.teachers-content .teacher-carousel .item {
  width: 100%;
}

.teachers-content .teacher-carousel .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teachers-content .teacher-carousel .item p {
  font-size: 14px;
}

.courses-content {
  background-color: white;
  padding: 50px 0;
}

.courses-content .courses-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.courses-content .courses-box .courses-body {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.courses-content .courses-box .courses-body h5 {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 18px;
  padding-bottom: 5px;
}

.courses-content .courses-box .courses-body ul {
  padding: 0;
  margin: 0;
}

.courses-content .courses-box .img-icon img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-content {
  padding: 50px 0;
  background-image: url("http://trumpwallpapers.com/wp-content/uploads/Yellow-Aesthetic-Wallpaper-01-2560x1600-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.footer-content .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-content .footer-row h4 {
  color: black;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  display: block;
}

.footer-content .footer-row .sot-set {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10px;
}

.footer-content .footer-row .sot-set img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.footer-content .footer-row .sot-set p {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */