@import "./mixins.scss";
@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Waves Styles */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
}
.waves-effect.disabled {
  cursor: default;
}
.waves-effect.disabled .waves-ripple {
  display: none !important;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50% !important;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}
/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

.under-line-orange {
  padding-bottom: 5px;
  border-bottom: 2px solid #ffd657;
  display: inline;
}
.under-line-white {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  display: inline;
}

body {
  padding: 0;
  // margin-bottom: 500px;
  // height: 2000px;
  // background-color: white;
  background-image: url("https://img.freepik.com/free-photo/top-view-of-natural-tiles-stone-floor-in-luxury-seamless-glitter-pattern-for-interior-and-exterior_38607-378.jpg?w=2000");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;

  .preloader {
    position: fixed;
    z-index: 9999999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    .line {
      background-color: #0b2bcd;
      width: 7px;
      height: 40px;
      margin: 0px 5px;
      border: none;
      animation: size 0.8s infinite linear;
      border-radius: 20px;
    }

    .line-1 {
      animation-delay: 0.6s;
    }
    .line-2 {
      animation-delay: 0.3s;
    }
    .line-3 {
      animation-delay: 0s;
    }
    .line-4 {
      animation-delay: 0.3s;
    }
    .line-5 {
      animation-delay: 0.6s;
    }

    @keyframes size {
      0% {
        height: 40px;
      }
      25% {
        height: 60px;
      }
      50% {
        height: 90px;
      }
      75% {
        height: 60px;
      }
      100% {
        height: 40px;
      }
    }
  }

  .scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    transition: all 0.2s linear;
    text-decoration: none;
    padding: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 45, 121, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    color: white;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 25px;
    animation-name: scollTop;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.95, 0.07, 0.03, 0.12);
    animation-iteration-count: infinite;
    font-weight: bold;
  }

  @keyframes scollTop {
    0% {
      bottom: 20px;
    }
    50% {
      bottom: 40px;
    }
    100% {
      bottom: 20px;
    }
  }

  .scroll-top-active {
    opacity: 1 !important;
    pointer-events: all;
  }
}

.header {
  width: 100%;
  z-index: 99999;
  // background-color: white;

  .navbar {
    transition: all 0.5s linear !important;
    // height: 65px;
    background-color: white;

    a {
      img.logo-navbar {
        height: 50px;
        width: 50px;
        object-fit: cover;
      }
    }

    a.nav-link {
      transition: all 0.2s linear;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #ffd657;
        color: #ffd657;
      }
    }
  }

  .navbar-under {
    transition: all 0.5s linear !important;
    background: #724e23;
    a {
      color: white !important;
      &:hover {
        color: #ffd657 !important;
      }
    }
  }
}

.header-top-info {
  // background-image: url("https://img5.goodfon.ru/original/1920x1080/9/e2/fon-oboi-pikseli-kvadrat-oranzhevyi.jpg");

  background: #ffd657;
  background-size: cover;
  background-position: center;
  height: 40px;
  .container {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    .inner-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      .info-links {
        font-size: 14px;
        color: black;
        i {
          font-size: 12px;
        }
      }

      @media all and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.header-content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/bg-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 0.2s linear;

  .bg-radient {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 0.2s linear;

    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.6) 0%,
      rgba(9, 45, 121, 0.5) 65%,
      rgba(255, 255, 255, 0.5) 100%
    );

    .inner-info {
      margin-bottom: 150px;
      display: flex;

      .left-info {
        width: 70%;
        transition: all 0.2s linear;

        h4 {
          font-weight: bold;
          color: white;
        }

        h1 {
          font-weight: bold;
          color: white;
          @media all and (max-width: 768px) {
            text-align: center;
          }
        }

        .under-info {
          display: flex;
          gap: 20px;

          button.orange-btn-big {
            padding: 12px 40px;
            color: white;
            text-transform: uppercase;
            background-color: #ffd657;
            border: 2px solid #ffd657;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border-radius: 6px;
            transition: all 0.2s linear;

            &:hover {
              border: 2px solid #ffd657;
              background-color: white;
              color: #ffd657;
            }
          }

          button.blue-btn-big {
            padding: 12px 40px;
            border-radius: 6px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-transform: uppercase;
            background-color: #092ace;
            border: 2px solid #092ace;
            transition: all 0.2s linear;

            &:hover {
              background-color: white;
              color: #092ace;
            }
          }
        }

        @media all and (max-width: 1024px) {
          width: 80%;
        }

        @media all and (max-width: 768px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
        }
      }
    }

    @media all and (max-width: 768px) {
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0.6) 0%,
        rgba(9, 45, 121, 0.5) 100%
      );
    }
  }

  @include media(768px) {
    background-position: right;
  }
}

.about-us {
  margin-top: 100px;

  transition: all 0.2s linear;
  position: relative;

  .right-box {
    @include blueGradient;
    position: absolute;
    transition: all 0.2s linear;
    top: 20px;
    right: 0;
    width: 40%;
    height: 400px;

    @include media(1024px) {
      display: none;
    }
  }

  .left-content {
    transition: all 0.2s linear;

    h2 {
      font-size: 45px;
      color: black;
    }
    p {
      text-indent: 15px;
    }

    @include media(768px) {
      margin-bottom: 50px;
    }
  }

  .right-content {
    position: relative;

    .right-box-text-title {
      position: absolute;
      transition: all 0.2s linear;
      right: -40%;
      bottom: 10px;
      padding: 15px 30px;
      background-color: $global-orange;
      color: white;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 5px;

      @include media(1600px) {
        right: 10%;
        font-size: 25px;
      }
      @include media(768px) {
        right: 10%;
        font-size: 15px;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.advantages {
  margin-top: 150px;
  background-color: #fff;
  padding: 50px 0;

  h2.title {
    font-size: 45px;
    color: black;
  }

  .advantages-card {
    .card-box-top {
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      }
    }
    .card-box {
      display: flex;
      position: relative;

      .book-mark {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: auto;
      }
      img {
        width: 50px;
        height: 50px;
      }
      p {
        font-size: 14px;
      }

      .right-card {
        padding: 0 20px;
      }
    }
  }
}

.team-content {
  margin-top: 150px;
  padding: 50px 0;
  background: #ffd657;

  h2.title {
    font-size: 45px;
    color: black;
  }

  .left-content-team {
    h1 {
      color: black;
    }

    p {
      color: black;
    }
  }

  .team-carousel {
    .owl-dot.active {
      span {
        background-color: white;
        transition: all 0.2s linear;
        width: 30px;
      }
    }

    .owl-dot {
      transition: all 0.2s linear;
      &:hover {
        span {
          background-color: $global-orange;
        }
      }
    }

    .item {
      .team-box {
        transition: all 0.2s linear;

        .left-image {
          // height: 100%;
          img {
            width: 100%;
            height: 400px;
            object-fit: cover;
          }
        }

        .right-info {
          .person-name {
            width: 100%;
            h3 {
              transition: all 0.2s linear;

              width: 100%;
              color: black;
            }
            @include media(768px) {
              width: 100%;
              text-align: center;
            }
          }

          p {
            color: black;
          }

          ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li.person-info-li {
              color: black;
              display: flex;
              align-items: center;
              align-content: center;
              margin-bottom: 10px;
              span.line-for-li {
                width: 20px !important;
                height: 2px;
                border-radius: 2px;
                background-color: #ffd657;
                margin-right: 10px;
              }
              div {
                width: 90%;
              }
            }
          }
        }

        @include media(768px) {
          padding: 20px;
        }
      }
    }
  }
}

.teachers-content {
  margin-top: 50px;
  padding: 50px 0;

  .teacher-carousel {
    .owl-dot.active {
      span {
        background-color: $global-orange;
        transition: all 0.2s linear;
        width: 30px;
      }
    }

    .owl-dot {
      transition: all 0.2s linear;
      &:hover {
        span {
          background-color: $global-orange;
        }
      }
    }

    .item {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.courses-content {
  background-color: white;
  padding: 50px 0;
  .courses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px;

    .courses-body {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      h5 {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 18px;
        padding-bottom: 5px;
      }
      ul {
        padding: 0;
        margin: 0;
        // list-style-type: none;
      }
    }

    .img-icon {
      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }
  }
}
